<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>725405633657-3bpv9p5usucjr43nrbvplcpakift48pt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.725405633657-3bpv9p5usucjr43nrbvplcpakift48pt</string>
	<key>API_KEY</key>
	<string>AIzaSyDO7iq0NWbBykwNzjbaSznJZBGzjBn1UzM</string>
	<key>GCM_SENDER_ID</key>
	<string>725405633657</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.coreye.God-is-Love</string>
	<key>PROJECT_ID</key>
	<string>god-is-love-b6683</string>
	<key>STORAGE_BUCKET</key>
	<string>god-is-love-b6683.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:725405633657:ios:80f2b6e687f407f9fa18a8</string>
</dict>
</plist>